body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e96464, rgb(238, 10, 10));
    text-align: center;
}
header{
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: white;
    padding: 20px;
}
.content, .faq{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
ul{
    text-align: left;
    padding-left: 20px;
}
li{
    list-style-type: none;
}
.faq .question{
    background: #eee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
footer{
    background-color: #222;
    color: white;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
}